@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
.time-list-scroller::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.time-list-scroller::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.time-list-scroller::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.time-list-scroller::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.past {
    color: #adadad;
    font-weight: bold;
}

.todays-date-style{
    color:white !important;
    z-index: 1;
    position: relative;
}

.custom-dot-index{
    z-index: -1;
}

.active-date{
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
    color: white;
}

.active-date:hover{
    background-color: rgb(59 130 246 / var(--tw-bg-opacity)) !important;
}

.already-selected {
    border: 2px solid;
}

.show-selected-count{
    display: flex !important;
}